<ion-content>
<div id="holder">
  <ion-label
  style="font-size: xx-large; text-align: center; margin-top: 75px;"
  >Sisyphus Sort</ion-label>
  <ion-label
  style="text-align: center; margin-bottom: 15px; margin-top: 3px;" 
  >Não tem uma conta ? Cadastre-se Hoje!</ion-label>
  <ion-input class="botaosize" label="E-mail" label-placement="floating" fill="outline" placeholder="Insira seu e-mail" type="email"></ion-input>
  <ion-input class="botaosize" label="Senha" label-placement="floating" fill="outline" placeholder="Insira sua senha" type="password"></ion-input>
  <ion-button class="botaosize" style="margin-top: 25px;" color="primary">Cadastrar</ion-button>
</div>
</ion-content>