<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>Niteroi</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">.
  
  </ion-header>


<div
style="width: 75%; border: solid 3px black; height: 100px; border-radius: 6px; background-color: rgb(255, 208, 0); margin-right: auto; margin-left: auto; margin-top: 50px;">
<ion-label style="color: black; display: flex; align-items: center; justify-content: center; text-align: center; font-size: large;">
  Lorem ipsum dolor sit amet consectetur adipisicing elit. Pariatur officia quidem dicta commodi, reiciendis repellendus, placeat at eligendi perferendis neque modi dolore! Blanditiis dignissimos, accusantium rem non ipsum a eveniet.</ion-label>
</div>

<div style="display: flex; flex-direction: row; justify-content: center; align-items: center; margin-top: 30px; margin-bottom: 30px;">
<ion-button style="width: 150px; border-radius: 5px;" routerLink="/login">
  Entre
</ion-button>

<ion-button style="width: 150px; border-radius: 5px;" routerLink="/register">
  Registre-se
</ion-button>
</div>

<h1>Sobre o Sisyphus Sort</h1>
<p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Eaque error unde iure, recusandae eum maiores illo consectetur reprehenderit dolorem incidunt repudiandae sunt ea accusantium alias exercitationem suscipit nulla hic sapiente! Lorem ipsum dolor sit amet consectetur, adipisicing elit. Possimus quaerat cumque, quod officia, temporibus explicabo fuga dignissimos quis molestiae, maxime iusto assumenda voluptas nisi in. Atque corporis voluptates a sed?</p>
<ion-img src="/src/assets/icon/DreamShaper_v7_student_walking_in_the_mountains_red_sun_backgr_1.jpg" alt="Sisyphus"></ion-img>
</ion-content>
